QWidget {
    font-size: 22px;
    background-color: rgb(189, 186, 186);
    
}

QPushButton {
        background-color: rgb(251, 39, 39);
        border-style: outset;
        border-width: 2px;
        border-radius: 10px;
        border-color: beige;
        font: bold 18px;
        min-width: 10px;
        padding: 6px;
        min-width: 150px;
}

QPushButton:hover {
    background-color: blue;

}


QLabel {
    border: 2px solid blue;
    border-radius: 4px;
    padding: 6px;
    color: rgb(0, 0, 0);
    max-width: 2000%;
    margin: 15px;
    min-width: 150px;
}


QMessageBox {
    border: 2px solid red;
    background-color: yellow;
    padding: 5px;
}

QInputDialog {
    border: 2px solid red;
    background-color: yellow;
    padding: 5px;
}